hoenodegw
# This file describes the network interfaces
auto lo
iface lo inet static
        address 127.0.0.1/8

auto eth0
iface eth0 inet static
        address 10.25.229.243/25

auto eth2
iface eth2 inet static
        address 10.25.167.62/25

auto eth1
iface eth1 inet static
        address 10.25.161.70/25

# ports.conf --

frr version
Building configuration...

Current configuration:
!
frr version 8.1
frr defaults traditional
hostname hoenodegw
log syslog informational
service integrated-vtysh-config
!
ip router-id 10.25.229.243
!
interface eth0
 ip ospf dead-interval 6
 ip ospf hello-interval 2
 ip ospf network point-to-point
exit
!
interface eth1
 ip ospf dead-interval 6
 ip ospf hello-interval 2
 ip ospf network point-to-point
exit
!
interface eth2
 ip ospf dead-interval 6
 ip ospf hello-interval 2
 ip ospf network point-to-point
exit
!
router ospf
 ospf router-id 10.25.229.243
 network 10.25.161.0/25 area 0
 network 10.25.167.0/25 area 0
 network 10.25.229.128/25 area 0
 capability opaque
exit
!
end
